.DS_Store
/TestResults
/Visual Studio 2010
/Visual Studio 2010Projects
/Visual Studio 2010Templates
/ru.org.openam.dotnet.suo
/*.suo
/ru.org.openam.iis7Agent/bin/Debug
/ru.org.openam.iis7Agent/obj/Debug
/ru.org.openam.iis7AgentTestSite/bin
/ru.org.openam.iis7AgentTestSite/obj/Debug
/ru.org.openam.iis7AgentTestSite/*.user
/ru.org.openam.loginSite/bin
/ru.org.openam.loginSite/obj/Debug
/ru.org.openam.loginSite/*.user
/ru.org.openam.iis7AgentTestSite/App_Data/Logs
/ru.org.openam.loginSite/App_Data/Logs/PolicyAgentDebug
/ru.org.openam.iis7Agent/*.user
[Bb]in
[Oo]bj
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
Bootstrap
packages
[Bb]uild
Temp
TestResults
Test
*.zip
*.nupkg
*.msi
*.chm
/Tools/ilmerge/
/Tools/MSBuildTasks/
/Tools/NUnit.Runners/
*.userprefs
ru.org.openam.iis.httpmodule/Properties/AssemblyInfo.cs
ru.org.openam.sdk/Properties/AssemblyInfo.cs
App_Data
ru.org.openam.iis.site.sample/Properties/AssemblyInfo.cs
TestResult.xml
testrunner
*.log
