/TestResults
/Visual Studio 2010
/Visual Studio 2010Projects
/Visual Studio 2010Templates
/ru.org.openam.dotnet.suo
/*.suo
/ru.org.openam.iis7Agent/bin/Debug
/ru.org.openam.iis7Agent/obj/Debug
/ru.org.openam.iis7AgentTestSite/bin
/ru.org.openam.iis7AgentTestSite/obj/Debug
/ru.org.openam.iis7AgentTestSite/*.user
/ru.org.openam.loginSite/bin
/ru.org.openam.loginSite/obj/Debug
/ru.org.openam.loginSite/*.user
/ru.org.openam.iis7AgentTestSite/App_Data/Logs
/ru.org.openam.loginSite/App_Data/Logs/PolicyAgentDebug
