language: csharp
os:
 - osx
 - linux
before_install:
 - date -u
 - uname -a
 - export PATH=/opt/mono/bin:$PATH
 - env | sort
solution: ru.org.openam.dotnet.sln
branches:
 only:
   - master
notifications:
 email:
  - support@openam.org.ru
install:
  - nuget restore ru.org.openam.dotnet.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release ru.org.openam.dotnet.sln
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./ru.org.openam.nunit/bin/Release/ru.org.openam.sdk.nunit.dll
