<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<diagnostics>
			<messageLogging
                 logEntireMessage="true"
                 logMalformedMessages="true"
                 logMessagesAtServiceLevel="true"
                 logMessagesAtTransportLevel="true"
                 maxMessagesToLog="3000"
                 maxSizeOfMessageToLog="2000"/>
		</diagnostics>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="MessageLog"
                    type="System.Diagnostics.XmlWriterTraceListener"
                    initializeData="D:\Message.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<appSettings>
		<add key="com.iplanet.am.server.protocol" value="http"/>
		<!--<add key="com.iplanet.am.server.host" value="localhost.rapidsoft.ru"/>-->
		<add key="com.iplanet.am.server.host" value="login.staging.rapidsoft.ru"/>
		<add key="com.iplanet.am.server.port" value="80"/>
		<add key="com.iplanet.am.services.deploymentDescriptor" value="/auth"/>

		<add key="com.sun.identity.agents.app.username" value="ws.api"/>
		<add key="com.iplanet.am.service.password" value="ws.apiws.api"/>

		<add key="com.iplanet.am.cookie.name" value="iPlanetDirectoryPro"/>
	</appSettings>
	<system.net>
		<defaultProxy useDefaultCredentials="true" />
	</system.net>
</configuration>