<?xml version="1.0" encoding="utf-8"?>
<configuration>
 	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog internalLogLevel="Trace" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
		  <target xsi:type="Console" name="console" error="True"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="console"/>
		</rules>
	</nlog>
	<appSettings>
		<add key="com.sun.identity.agents.config.naming.url" value="https://support.openam.org.ru/auth/namingservice"/>
		<add key="com.sun.identity.agents.app.username" value="test.domain.com"/>
		<add key="com.iplanet.am.service.password" value="ws.apiws.api"/>
		<add key="com.sun.identity.agents.config.organization.name" value="/"/>
		<add key="com.sun.identity.agents.config.local.logfile" value="amAgent.log"/>
		<add key="com.sun.identity.agents.config.debug.level" value="all:5"/>
		<add key="com.sun.identity.agents.config.receive.timeout" value="0"/>
		<add key="com.sun.identity.agents.config.connect.timeout" value="0"/>
		<add key="com.sun.identity.agents.config.trust.server.certs" value="true"/>
		<add key="org.openidentityplatform.agents.config.keepalive.disable" value="false"/>
	</appSettings>
	<system.net>
		
	</system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
