<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog internalLogLevel="Trace" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
		  <target xsi:type="Console" name="console" error="True" />
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="console" />
		</rules>
	</nlog>
	<appSettings>
		<add key="com.sun.identity.agents.config.naming.url" value="https://support.openam.org.ru/auth/namingservice"/>
<!--		<add key="com.sun.identity.agents.config.naming.url" value="http://test.inside.mts.ru:8080/amserver/namingservice"/>-->
		<add key="com.sun.identity.agents.app.username" value="test.domain.com"/>
		<add key="com.iplanet.am.service.password" value="ws.apiws.api"/>
<!--		<add key="com.sun.identity.agents.config.naming.url" value="https://login.mts.ru:443/amserver/namingservice "/>-->
		<add key="com.sun.identity.agents.config.organization.name" value="/"/>
<!--		<add key="com.sun.identity.agents.config.password" value="8nVfLPLjVtYuNgL/RlUg89gErBg7Se6/hNBc8jXMYr9AeWIUTEU0oyx3u8u6DaNXolEbVObORTWyZ0H+8nVfLPLjVtYuNgL/RlUg89gErBg7Se6/hNBc8jXMYr9AeWIUTEU0oyx3u8u6DaNXolEbVObORTWyZ0H+DDYH+8B8u1uRAsyPnTpQIL3w4r2QNvePWFQSoSR2c/3reK/9"/> -->
<!--		<add key="com.sun.identity.agents.config.key" value="d2ytcg81um"/>-->
		<add key="com.sun.identity.agents.config.local.logfile" value="amAgent_test_one_mts_ru.log"/>
		<add key="com.sun.identity.agents.config.debug.level" value="all:5"/>
		<add key="com.sun.identity.agents.config.receive.timeout" value="0"/>
		<add key="com.sun.identity.agents.config.connect.timeout" value="0"/>
		<add key="com.sun.identity.agents.config.trust.server.certs" value="true"/>
	</appSettings>
	<system.net>
		
	</system.net>
</configuration>