<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <clear />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="com.sun.identity.agents.config.naming.url" value="http://login.staging.rapidsoft.ru:80/auth/namingservice" />
    <add key="com.sun.identity.agents.app.username" value="test.domain.com" />
    <add key="com.iplanet.am.service.password" value="ws.apiws.api" />
  </appSettings>
  <nlog>
    <targets>
      <target name="PolicyAgentDebug" type="AsyncWrapper">
        <target type="RetryingWrapper">
          <target type="File" layout="[${longdate}] ${message}" fileName="${basedir}/App_Data/Logs/AgentDebug/${level}/${date:format=yyyy-MM}/${level}_${date:format=yyyy-MM-dd}.txt" encoding="utf-8" archiveAboveSize="104857600" maxArchiveFiles="9999" archiveFileName="${basedir}/App_Data/Logs/${level}/${date:format=yyyy-MM}/${level}_${date:format=yyyy-MM-ddTHH-mm-ss}_{#}.txt" archiveNumbering="Sequence" archiveEvery="None" />
        </target>
      </target>
      <target name="PolicyAgentAudit" type="AsyncWrapper">
        <target type="RetryingWrapper">
          <target type="File" layout="[${longdate}] ${message}" fileName="${basedir}/App_Data/Logs/AgentAudit/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}.txt" encoding="utf-8" archiveAboveSize="104857600" maxArchiveFiles="9999" archiveFileName="${basedir}/App_Data/Logs/${level}/${date:format=yyyy-MM}/${level}_${date:format=yyyy-MM-ddTHH-mm-ss}_{#}.txt" archiveNumbering="Sequence" archiveEvery="None" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="PolicyAgentDebug" minlevel="Trace" writeTo="PolicyAgentDebug" />
      <logger name="PolicyAgentAudit" minlevel="Trace" writeTo="PolicyAgentAudit" />
    </rules>
  </nlog>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <profile enabled="false">
      <providers>
        <clear />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--			<clear />-->
      <add name="iis7Agent" type="ru.org.openam.iis7Agent.iis7AgentModule" />
      <!--			<add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" />-->
      <!--			<add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="managedHandler,runtimeVersionv4.0" />-->
      <!--			<add name="HttpCacheModule" />-->
      <!--			<add name="StaticFileModule" />-->
      <!--			<add name="CustomErrorModule" />-->
      <!--			<add name="HttpLoggingModule" />-->
      <!--			<add name="HttpRedirectionModule" />-->
    </modules>
    <httpErrors>
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="500" path="/500" responseMode="ExecuteURL" />
      <error statusCode="404" path="/404" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>