<?xml version="1.0"?>
<!--
Web.config file for ru.org.openam.iis.site.sample.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <httpModules>
    	<add name="OpenAM" type="ru.org.openam.iis.OpenAMHttpModule"></add>
    </httpModules>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
	<appSettings>
		<add key="com.sun.identity.agents.config.naming.url" value="https://support.openam.org.ru/auth/namingservice"/>
		<add key="com.sun.identity.agents.config.organization.name" value="/"/>
		<add key="com.sun.identity.agents.app.username" value="test.domain.com"/>
		<add key="com.iplanet.am.service.password" value="ws.apiws.api"/>
		<!--<add key="com.sun.identity.agents.config.key" value="d2ytcg81um"/>-->
		<add key="com.sun.identity.agents.config.local.logfile" value="amAgent_test_one_mts_ru.log"/>
		<add key="com.sun.identity.agents.config.debug.level" value="all:5"/>
		<add key="com.sun.identity.agents.config.receive.timeout" value="0"/>
		<add key="com.sun.identity.agents.config.connect.timeout" value="0"/>
	</appSettings>
</configuration>
