<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog internalLogLevel="Trace" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
		  <target xsi:type="Console" name="console" error="True" />
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="console" />
		</rules>
	</nlog>
	<system.serviceModel>
		<diagnostics>
			<messageLogging
                 logEntireMessage="true"
                 logMalformedMessages="true"
                 logMessagesAtServiceLevel="true"
                 logMessagesAtTransportLevel="true"
                 maxMessagesToLog="3000"
                 maxSizeOfMessageToLog="2000"/>
		</diagnostics>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="MessageLog"
                    type="System.Diagnostics.XmlWriterTraceListener"
                    initializeData="D:\Message.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<appSettings>
		<add key="com.sun.identity.agents.config.naming.url" value="http://login.staging.rapidsoft.ru:80/auth/namingservice"/>
		<add key="com.sun.identity.agents.app.username" value="test.domain.com"/>
		<add key="com.iplanet.am.service.password" value="ws.apiws.api"/>
	</appSettings>
	<system.net>
		<defaultProxy useDefaultCredentials="true" />
	</system.net>
</configuration>